<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b><%= @user.name %>さんのつぶやき</b>
  <div id="tweets">
    <%= render :partial => "tweets" %>
  </div>
</p>

<p>
  <%= form_tag(user_tweet_path, :remote => true) do %>
    今何してる？:<%= text_field_tag :body %>
    <%= submit_tag %>
  <% end -%>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
